body {
  margin: 0px;
  background-color: #23232e;
  display: flex;
  flex-direction: row;
}

.text {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;
}

.left {
  background-color: #23232e;
  border-right: 2px solid #3e3e50;
}

.right {
  background-color: #23232e;
  border-left: 2px solid #3e3e50;
}

ul {
  margin: 4px;
  list-style: none;
}

h1,
strong,
p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;

  background: rgba(57, 57, 71, 0.5);
  border-radius: 12px;
  margin: 18px;
  padding: 18px;
}

.colaborators {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.colaborators .colab {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.colaborators .colab img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  border: 3px solid #23232e;
}

.colaborators .colab p {
  width: 100%;
}
.language {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.language .linguagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.language .linguagem img {
  width: 100px;
  height: auto;
}

.language .linguagem p {
  width: 100%;
}

.return{
  background: none;
  text-decoration: none;
  color: blanchedalmond;
  
}
