body {
  background-color: #181625;
  background-size: cover;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 8vh;
}

img {
  width: 175px;
  height: 280px;
}

.hidden {
  display: none;
}

.virada {
  background-image: url(../images/urso.png);
}

.cartas {
  width: 90vw;
  height: 280px;

  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartas__superior__und {
  background-color: blue;
}

.cartas__inferior__und {
  background-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu-responsivo {
  display: none;
}

.menu-responsivo div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .menu-responsivo {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-responsivo.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-responsivo.active .line2 {
  opacity: 0;
}

.menu-responsivo.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

button {
  border: none;
  background: none;
  color: #fff;
  text-decoration: none;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  margin-left: 0px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

#voiceList {
  background: #393947;
  color: #fff;
  border: none;
}
